<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Neopult Lighthouse</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Neopult Lighthouse</h1>
        <ul>
        {% for channel in channels %}
            <li>
                {% let admin_port = 4200 + channel.number %}
                <b>Channel {{ channel.number }}:</b> <a href="{{ channel.novnc_url }}">View</a> <a href="{{ channel.neopult_url }}">Admin</a>
            </li>
        {% endfor %}
        </ul>
    </body>
</html>
