[Unit]
Description=Neopult channel %i
Requires=neopult-vncserver@%i.service neopult-novnc@%i.service
After=network.target neopult-vncserver@%i.service

[Service]
Type=simple
User=neopult
Group=neopult
Environment="DISPLAY=:%i"
Environment="RUST_LOG=debug"
Environment="NEOPULT_CHANNEL=%i"
ExecStart=/usr/local/bin/neopult
# Shutdown gracefully
KillSignal=SIGINT
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
